body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #333;
}

header, footer {
    background-color: #222;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

a {
    color: #3498db;
    text-decoration: none;
}

h1, h2 {
    color: #2c3e50;
}
